<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteTest" parallel="tests" thread-count="3">
	<listeners>
		<listener class-name="com.reporting.ReportingListener"></listener>
	</listeners>
	<test name="SapientDemo">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.tests.MoneyControlTest" />
		</classes>
	</test>
</suite> <!-- Suite -->

