<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

	<Appenders>
	    <Console name="consoleAppender" target="SYSTEM_OUT">
	        <!--SHORT PATTERN-->
	        <PatternLayout pattern="%d{ABSOLUTE} %level{length=5} [%thread] %logger{1} - %msg%n"/>
	        <!--ROBUST PATTERN
	        <PatternLayout pattern="%d{ISO8601} %level{length=5} [%thread] %logger - %msg%n"/>-->
	    </Console>
	
	    <Routing name="RoutingAppender">
	        <Routes pattern="${ctx:logFileName}">
	            <Route>
	                <RollingFile name="Rolling-${ctx:logFileName}"
	                             fileName="logs/${ctx:logFileName}"
	                             filePattern="logs/${ctx:logFileName}.%i.log.gz">
	                    <PatternLayout pattern="%d{ABSOLUTE} %level{length=5} [%thread] %logger{1} - %msg%n"/>
	                    <!-- PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}#%5p#[%t]#%m#%C{1}#%M#%L#%n"/-->
	                    <SizeBasedTriggeringPolicy size="250 MB" />
	                    <DefaultRolloverStrategy max="20"/>
	                </RollingFile>
	            </Route>
	
	            <!-- By having this set to ${ctx:logFileName} it will match when filename
	                 is not set in the context -->
	            <Route ref="consoleAppender" key="${ctx:logFileName}"/>
	        </Routes>
	    </Routing>
	
	</Appenders>
	
	<Loggers>
	    <Logger name="com.mfs.tests" level="debug" additivity="false">
	        <AppenderRef ref="RoutingAppender"/>
	    </Logger>
	</Loggers>

</Configuration>